* {
  font-size: 25px;
}
h1{
  text-align: center;
}

.product-form {
  margin: 0 auto;
  width: 50%;
}

.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.form-control input {
  border: 1px solid rgb(12, 12, 34);
  font: inherit;
  border-radius: 2px;
}

.form-control input:focus {
  border-color: rgba(85, 83, 62, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
      0 0 8px rgba(239, 237, 104, 0.6);
  outline: 0 none;
}

.container{
  margin: auto;
  width: 50%;
}

.button {
  background-color: #315132; /* Green */
  border: none;
  color: white;
  padding: 6px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 3px;
  margin-bottom: 10px;

}

.button:hover {
  background-color: #3e8e41; /* Darker green */
}